@import "@tabler/core";

tr[data-url] {
    cursor: pointer;
}

td.has-link {
    padding-top: 0;
    padding-bottom: 0;

    > a {
        display: block;
        padding: 0.5rem 0;
    }
}

.tag {
    color: $white;
    font-size: 9pt;
    background-color: $text-muted;
    padding: 4px 8px;
    border-radius: 1rem;
}